@import "../node_modules/@material/react-dialog/dist/dialog.css";



label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.comment{
	width: 400px
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.flexed-container{
  display: flex;
}

.flex-child{
  margin:5px;
}

 
.addBtn {
  padding-top: 42px;
}

.updateBtn{
	height:40px;
}

.-btn{
	background-color: #343A40 !important;
	color:white !important;
}

.rt-tr{
}
 
.alert {
	padding: 1px !important;
}
 

.delete{
  text-align: center;
  margin-left:20px;
  cursor: pointer;

}
.edit{
  cursor: pointer;
  text-align: center;
}


.flexDisplayRow {
  display: flex;
}

.undoItem {
  margin-top:12px;
  font-size:15px;
  margin-left:10px;
  cursor: pointer;
}

.nav-link-selected{
	 color:white !important;
}

.tableGrid { 
	width: 750px; 
	border-collapse: collapse; 
	}

/* Zebra striping */
.tableGrid tr:nth-of-type(odd) { 
	background: #eee; 
	}

  .tableGrid th { 
	background: #343A40; 
	color: white; 
	font-weight: bold; 
	}

  .tableGrid td, th { 
	padding: 10px; 
	border: 1px solid #ccc; 
	text-align: left; 
	font-size: 18px;
	}



 
 .container, .container-md, .container-sm {
    max-width: 90% !important;
}

.container  {
    max-width: 100% !important;
}

.jumbotron{
	width: 100% !important
}


 



.hideTd {
  display: none;
}


.tooltipX {
	position: relative;
	display: inline-block;
  }
  
  .tooltipX .tooltipXText {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	
	/* Position the tooltip */
	position: absolute;
	z-index: 9999;
	top: -5px;
	left: 105%;
  }

  .tooltipX:hover .tooltipXText {
	visibility: visible;
  }

  .ow {
	overflow-wrap: break-word;
	word-wrap: break-word;
	hyphens: auto;
  }